
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0px;
    padding: 0px; ;
}

form {
    background: #fff;
    width: 1000px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow:0px 4px 12px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border 0.3s;
    border: 1px solid #3b82f6 ;
    background-color: #fff6f6;
}

input[type="date"]:focus,
textarea:focus,
select:focus {
    border-color: #27ae60;
    outline: none;
}
textarea {
    resize: vertical;
    min-height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    background:#3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #219150;
}
