* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
}
.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
}
.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo {
    height: 90px;
    width: auto;
    margin-right: 15px;
}
.brand-text {
    font-size: 2rem; 
    font-weight: 700;
    color: #0b5345;
}
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px; 
    background: #fff;
    width: 95%;
    max-width: 1250px;
    border: 1px solid #e0e0e0;
    border-radius: 12px; 
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}
.login-left {
    flex: 1;
    text-align: center;
    background: #fff;
    border-right: 1px solid #eee;
    padding: 60px 40px; 
}
.lagos-logo {
    height: 160px;
    margin-bottom: 30px;
}
.login-left h2 {
    color: #3498db;
    font-size: 22px;
    margin-bottom: 10px;
}
.login-left h3 {
    color: #2e4053;
    font-size: 18px;
    margin-bottom: 10px;
}
.login-left p {
    color: #5d6d7e;
    font-size: 15px;
    margin-bottom: 25px;
}
.access-btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}
.access-btn:hover {
    background-color: #004d40;
}
.login-right {
    flex: 1;
    padding: 60px 50px;
    background: #fff;
}
.login-right h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 25px;
    font-weight: 600;
}
.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-right form {
    display: flex;
    flex-direction: column;
}
.login-right label {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}
.login-right input {
    margin-top: 6px;
    margin-bottom: 18px;
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: all 0.2s ease;
}
.login-right input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(0,121,107,0.3);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #555;
    margin-bottom: 20px;
}
.options a {
    text-decoration: none;
    color: #3498db;;
}

.login-btn {
    background: #3498db;;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    font-size: 15px;
}
.login-btn:hover {
    background: #004d40;
}
.new-access {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.new-access a {
    color: #3498db;;
    text-decoration: none;
    font-weight: 600;
}
.new-access a:hover {
    text-decoration: underline;
}
